/*  your css code here. If applicable */
.myplaylist{
	list-style-type:none;
}
body{
	background-color:rgb(204,204,204);
}
.player_one{
	background-color: rgb(255, 255, 255);
	padding:20px;
	border-radius:10px;

	
}
.player_two{
	background-color: rgb(255, 255, 255);
	padding:20px;
	border-radius:10px;

	
}
.playlist{
	background-color: rgb(255, 255, 255);
	padding:7px;
	border-radius:3px;
}
.heading{
	text-align:center;
}